.dropzone {
    margin-bottom:25px;
}
.open4biz-header .header-title{
    padding-top: 35px;
}

.open4biz-header {
    margin-top:25px;
    margin-bottom:30px;
}

.content {
    margin-top:25px;
    margin-bottom:30px;
}

.content img {
    margin-top:25px;
}

.content h3 {
    margin-top:30px;
    margin-bottom:15px;
}